h1{
  color: gray;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: purple;
  font-family: serif;
}
p{
  color: gray;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: purple;
  font-family: serif;
}
